@{
    ViewBag.Title = "Confirmación";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center" style="font-style: oblique;">Registro Completo</h1>
            <p class="text-center">El departamento ha sido registrado exitosamente.</p>
            <div class="text-center">
                <a href="@Url.Action("RegistrarD", "Departamento")" class="btn btn-primary">Registrar otro departamento</a>
            </div>
        </div>
    </div>
</div>
