<br>
<br>
<h1 style="text-align: center;">Welcome</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <a href="@Url.Action("RegistroD","Departamento")" class="text-decoration-none">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://thumbs.dreamstime.com/z/icono-de-ilustraci%C3%B3n-color-para-enviar-y-registrar-datos-preparar-el-certificado-documento-bot%C3%B3n-270914491.jpg"
                class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Registrar departamento</h5>
                <p class="card-text">Registrar los departamentos de la empresa Devtin</p>
                <p class="card-text"><small class="text-muted">Disponible</small></p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href=" @Url.Action("VerD","Departamento")" class="text-decoration-none">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://e7.pngegg.com/pngimages/546/202/png-clipart-eye-computer-icons-visual-perception-visible-spectrum-see-people-logo.png"
              class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Ver departamentos</h5>
              <p class="card-text">Ver los departamentos de la compañia Devtin</p>
              <p class="card-text"><small class="text-muted">Disponible</small></p>
            </div>
          </div>
        </div>
      </div>
      </a>
      <a href="@Url.Action("ObtenerD","Departamento")"class="text-decoration-none">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOFTshNL6F5Zhz-ITQCLyGvDOS0Dz2s59hDA&s" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Consultar departamento</h5>
              <p class="card-text">Consultar departamento de la empresa Devtin</p>
              <p class="card-text"><small class="text-muted">Disponible</small></p>
            </div>
          </div>
        </div>
      </div>
      </a>
    </div>
    <div class="col-md-6">
      <!-- New cards on the right -->
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkP370oXOlsoM3cchsJQgJBIpjX_6cXhKidpKvb9cRC8cVvcOrTCFaoWae0411abr6ux0&usqp=CAU" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Empleados por departamento</h5>
              <p class="card-text">Consultar los empleados  que pertenecen a x departamento</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
